@import 'tailwindcss';
@import './lib/styles/effects.css';
@import './lib/styles/boids.css';

body {
	font-family: 'Verdana', 'Geneva', sans-serif;
}

@layer base {
	button:not(:disabled),
	[role='button']:not([aria-disabled='true']) {
		cursor: pointer;
	}
}
